{
  "presets": [
    "@babel/preset-react",
    ["airbnb", { "modules": false }]
  ],
  "env": {
    "production": {
      "plugins": [
        "react-hot-loader/babel",
        "@babel/plugin-proposal-class-properties",
        [
          "react-css-modules",
          {
            "generateScopedName": "[hash:base64]"
          }
        ]
      ]
    },
    "development": {
      "plugins": [
        "react-hot-loader/babel",
        "@babel/plugin-proposal-class-properties",
        [
          "react-css-modules",
          {
            "generateScopedName": "[name]_[local]_[hash:base64:5]",
            "webpackHotModuleReloading": true
          }
        ]
      ]
    },
    "test": {
      "plugins": [
        "react-hot-loader/babel",
        "@babel/plugin-proposal-class-properties",
        [
          "react-css-modules",
          {
            "generateScopedName": "[name]_[local]"
          }
        ]
      ]
    }
  },
  "sourceType": "unambiguous"
}
