.appContainer {
  vertical-align: top;
  display: inline-block;
}
@media not all and (max-width: 840px) {
  .appContainer:not(.loggedOut) {
    width: calc(100vw - var(--nav-non-mobile-width));
    margin-left: var(--nav-non-mobile-width);
  }
  .appContainer.loggedOut {
    width: 100%;
  }
}
@media (max-width: 840px) {
  .appContainer {
    width: 100vw;
  }
  .appContainer:not(.loggedOut) {
    padding-bottom: var(--nav-mobile-height);
  }
}
@media not all and (max-width: 480px) {
  .appContainer {
    height: 100%;
    min-height: 100vh;
  }
}
*:not(.appContainer) {
  box-sizing: border-box;
}

.loader {
  margin-top: calc(50% - 120px);
}

.cah,
.codenames {
  background-color: var(--light-gray);
}
