.appContainer {
  vertical-align: top;
  display: inline-block;
}
@media not all and (max-width: 840px) {
  .appContainer:not(.loggedOut) {
    width: calc(100vw - var(--nav-non-mobile-width));
    margin-left: var(--nav-non-mobile-width);
  }
  .appContainer.loggedOut {
    width: 100%;
  }
}
@media (max-width: 840px) {
  .appContainer {
    width: 100vw;
  }
  .appContainer:not(.loggedOut) {
    padding-bottom: var(--nav-mobile-height);
  }
}
*:not(.appContainer) {
  box-sizing: border-box;
}

.cah {
  background-color: var(--light-gray);
}
