.noButton,
.goBackButton {
  position: absolute !important;
}
.noButton {
  left: 0;
}
.goBackButton {
  left: 1rem;
}

.header,
.buttonContainer {
  display: inline-block;
}
.header {
  width: calc(100% - 140px);
}
.buttonContainer {
  width: 70px;
  height: var(--header-height);
  vertical-align: top;
}

.delete {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cah .buttonContainer {
  background-color: black;
}
@media not all and (max-width: 840px) {
  .cah > .buttonContainer:first-child {
    border-left: 1px solid white;
  }
}
.cah .icon {
  color: white;
}
