.noButton,
.goBackButton {
  position: absolute !important;
}
.noButton {
  left: 0;
}
.goBackButton {
  left: 1rem;
}

.header,
.buttonContainer {
  display: inline-block;
  vertical-align: top;
}
.header {
  width: calc(100% - 140px);
}
.buttonContainer {
  width: 70px;
  height: var(--header-height);
  vertical-align: top;
}

.buttonContainer > div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonContainer {
  background-color: var(--blue);
}
.cah .buttonContainer {
  background-color: black;
}
.codenames.red .buttonContainer {
  background-color: var(--red);
}
.codenames.blue .buttonContainer {
  background-color: var(--blue);
}
@media not all and (max-width: 840px) {
  .cah > .buttonContainer:first-child,
  .codenames > .buttonContainer:first-child {
    border-left: 1px solid white;
  }
}
.icon {
  color: white;
}
