:root {
  --header-height: 60px;
}

.header {
  width: 100%;
  height: 60px;
  padding: 15px 1rem 0;
  text-align: center;
  background-color: var(--blue);
  color: white;
}
.header > h3 {
  font-size: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cah {
  background-color: black;
}
@media not all and (max-width: 480px) {
  .cah:not(.owner) {
    border-left: 1px solid white;
  }
}
