.w3 {
  width: 1rem;
}

.w4 {
  width: 2rem;
}

.w5 {
  width: 4rem;
}

.w7-5 {
  width: 24rem;
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-100 {
  width: 100%;
}

.h3 {
  height: 1rem;
}

.h4 {
  height: 2rem;
}
