.card {
  cursor: pointer;
  border-radius: 10px !important;
  transition: transform var(--fast);
}
@media not all and (max-width: 480px) {
  .card {
    height: 15rem;
    width: 10rem;
  }
  .card:hover {
    transform: scale(1.1);
    transition: transform var(--fast);
  }
  .card:not(.small) {
    margin: 1.5rem .75rem 0;
  }
}
@media (max-width: 480px) {
  .card {
    min-height: 6rem;
    width: 100%;
    margin: .5rem;
  }
}
.card > span {
  display: inline-block;
  height: 100%;
  vertical-align: top;
}
.small {
  display: inline-block;
  height: 10rem;
  width: 6.666rem;
  margin-left: 1rem;
}

.text {
  line-height: 23px !important;
  border-radius: 10px !important;
  padding: .75rem;
}
@media not all and (max-width: 480px) {
  .text {
    height: 15rem;
    width: 10rem;
  }
}
@media (max-width: 480px) {
  .text {
    min-height: 6rem;
    width: 100%;
  }
}
.text.long {
  font-size: 12px;
  line-height: 18px !important;
}
.small .text {
  font-size: 13px;
  height: 10rem;
  width: 6.666rem;
  line-height: 17px !important;
  padding: .5rem;
  word-wrap: break-word;
  overflow-y: scroll;
}

.focusHighlight {
  position: relative;
}
@media not all and (max-width: 480px) {
  .focusHighlight {
    background-color: var(--blue);
  }
}

.selected {
  color: var(--green) !important;
}

.count {
  width: 100%;
  position: absolute;
  text-align: center;
  opacity: 0.3;
  color: var(--blue);
  font-size: 20px;
}
@media not all and (max-width: 480px) {
  .count {
    bottom: 10%;
  }
}
@media (max-width: 480px) {
  .count {
    top: 10%;
    height: 100%;
  }
  .countText {
    font-size: 70px !important;
  }
}
